header{
    display: flex;
    justify-content: center;
    width: 1000px; 
    margin-bottom: 20px;
    /* box-shadow: */
  }

  .logo{
    height: 100px;
    width: 20%;
    margin-left: 250px;
  }
  
  .h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 0px;
    width: 100%;
    margin-right: 200px;
    font-weight: bolder;
    font-size:xx-large;
  }

  h2{
    text-align: center;
    color: #333333;
    margin-bottom: 0px;
    width: 100%;
    margin-right: 200px;
    font-weight: bolder;
    font-size:xx-large;
  }

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8891d7;
  }
  
  .checkout-container {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  label {
    margin: 10px 0;
    font-size: 18px;
    color: #555555;
    display: flex;
    width: 500px;
    justify-content: center;
    font-weight: bold;
  }

  p{
    justify-content: flex-start;
    width: 150px;
  }

  input{
    /* margin-left: 130px; */
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 16px;
    width: 55%;
    padding: 12px;
    justify-content: flex-end;
  }

  textarea{
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 16px;
    width: 55%;
    padding: 12px;
    justify-content: flex-end;
  }
  
  select{
    /* margin-left: 45px; */
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 16px;
    width: 60%;
    padding: 12px;
  }

  a{
    display: flex;
    justify-content:center ;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 16px;
    background: white;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 16px;
    background: linear-gradient(to right, #4489cd, #534dc6);
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Ubuntu', sans-serif;
  }
  
  button:hover {
    background: linear-gradient(to right, #534dc6, #4489cd);
  }
  
  /* Responsive styling */
  @media screen and (max-width: 600px) {
    .container {
      width: 90%;
      padding: 20px;
    }
  }
  
  